<%- include('../partials/head'); %>
    <link rel="stylesheet" href="/css/consulta.css">
    </head>
    <%- include('../partials/header'); %>
        <main>
            <div class="row">
                <form action="/consulta-envio" method="GET">
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupFile01">Consultar Tracking Code</label>
                        <input type="input" class="form-control" id="inputGroupFile01" name="trackingcode">
                        <button type="submit" class="btn btn-primary">
                            Consultar
                        </button>
                    </div>
                </form>
            </div>

            <div class="row">

                <% if(trackingcode !=='' ){ %>
                    <p>Tracking Code consultado
                        <strong>
                            <a href="/consulta-envio?trackingcode=<%= trackingcode %>">
                                <%= trackingcode %>
                            </a>

                        </strong>
                    </p>

                    <ul>
                        <% dados.forEach(function(dados) { %>
                            <li>
                                <strong>
                                    <%= dados.Chave %> ----> <%= dados.Valor %>
                                </strong>
                            </li>
                            <% }); %>
                    </ul>
                    <% } else { %>
                        <p>Sem dados para consulta</p>
                        <% } %>


            </div>
        </main>

        <%- include('../partials/footer'); %>